<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceMask Watcher</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
  </head>

  <body>
    <div>
        <img src="{{ url_for('video') }}" width="50%"/>
    </div>
    <div>
      <p id="message"></p>
    </div>
    <script type="text/javascript" charset="utf-8">
      namespace = '/app';
      var socket = io(namespace),
          messageContainer = document.querySelector('#message')
      console.log('test')
      socket.on('update_status', function(message) {
        console.log(message)
        messageContainer.innerText = message.status
      });
    </script>
  </body>
</html>